@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #fe2c55;
    --black: rgba(22, 24, 35, 1);
    --white: #fff;
    --text-color: var(--black);
    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5;
}

body {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
